<div class="row">
	<div class="col s12 m12">
		<div style="position: relative; padding-top:110px;">
			<div class=" fixed-action-btn horizontal click-to-toggle no-overflow"  style="position: absolute;display: inline-block;right: 24px;">
				<a class="tooltipped btn-floating btn-large" data-tooltip="Filter">
				  <i class="material-icons">list</i>
				</a>
				<ul >
				  <li><a class="tooltipped btn-floating red modal-trigger1" href="#modalSearch" data-tooltip="Extended Search"><i class="material-icons">search</i></a></li>
				  <li><a class="btn-floating yellow darken-1 tooltipped" data-tooltip="Pinned Candiates"><i class="material-icons">person_pin</i></a></li>
				  <li><a class="btn-floating green tooltipped" data-tooltip="Approved Candidates"><i class="material-icons">add</i></a></li>
				  <li><a class="btn-floating blue tooltipped" data-tooltip="Removed Candidates"><i class="material-icons">remove</i></a></li>
				</ul>
			</div>
        </div>
	</div>
	<div class="divider" style="clear:both;"></div>
</div>
<div class="row">
	<p class="grey-color">Sorry! We did not found any results!</p>
</div>
