<div class="row">
			<p class="flow-text grey-text">View your latest candidates!</p>
		</div>
		<div class="row">
		<div class="card-place">
			<div class="buttons-block hide-on-med-and-down">
				<button data-position="bottom" data-delay="50" data-tooltip="Remove from list" class="removeCand tooltipped btn-floating btn-large waves-effect remove waves-purple-100 white">
					<i class="pink-text material-icons ">remove</i>
				</button>
				<button data-position="bottom" data-delay="50" data-tooltip="Add to list list" class="addCand tooltipped btn-floating btn-large waves-effect remove waves-purple-100 white">
					<i class="green-text material-icons ">add</i>
				</button>
				<button data-position="bottom" data-delay="50" data-tooltip="Pin" class="pinCand tooltipped btn-floating btn-large waves-effect remove waves-purple-100 white">
					<i class="orange-text material-icons ">person_pin</i>
				</button>
			</div>
			<div class="card hoverable">
				<div class="card-image waves-effect waves-block waves-light">
				 
				  <video style="" class="responsive-video" controls>
						<source src="css/videos/ScreenCaptureProject1.mp4" type="video/mp4">
					</video>
				</div>
				<div class="card-content">
				  <span class="card-title activator grey-text text-darken-4">Candidate X<i class="material-icons right">more_vert</i></span>
				  <p><a href="#">View Candidate Profile</a></p>
				  <div class="tags">
				  <div class="chip">
						LoremIpsum
					</div>
					<div class="chip">
						LoremIpsum1
					</div>
				</div>
				<div class="hide-on-large-only">
				<div class="divider" style="margin:10px;"></div>
					<button  data-position="bottom" data-delay="50" data-tooltip="Remove from list" class="mb tooltipped btn-floating btn-large waves-effect remove waves-purple-100 white">
					<i class="pink-text material-icons ">remove</i>
				</button>
				<button data-position="bottom" data-delay="50" data-tooltip="Add to list list" class="mb tooltipped btn-floating btn-large waves-effect remove waves-purple-100 white">
					<i class="green-text material-icons ">add</i>
				</button>
				<button data-position="bottom" data-delay="50" data-tooltip="Pin" class="mb tooltipped btn-floating btn-large waves-effect remove waves-purple-100 white">
					<i class="orange-text material-icons ">person_pin</i>
				</button>
				</div>
				</div>
				<div class="card-reveal">
				  <span class="card-title grey-text text-darken-4">CandidateX<i class="material-icons right">close</i></span>
				  <p>Info about candidate</p>
				</div>
				
			</div>
		</div>
		</div>
		<div class="row">
		<div class="card-place">
			<div class="buttons-block hide-on-med-and-down">
				<button data-position="bottom" data-delay="50" data-tooltip="Remove from list" class="removeCand tooltipped btn-floating btn-large waves-effect remove waves-purple-100 white">
					<i class="pink-text material-icons ">remove</i>
				</button>
				<button data-position="bottom" data-delay="50" data-tooltip="Add to list list" class="addCand tooltipped btn-floating btn-large waves-effect remove waves-purple-100 white">
					<i class="green-text material-icons ">add</i>
				</button>
				<button data-position="bottom" data-delay="50" data-tooltip="Pin" class="pinCand tooltipped btn-floating btn-large waves-effect remove waves-purple-100 white">
					<i class="orange-text material-icons ">person_pin</i>
				</button>
			</div>
			<div class="card hoverable">
				<div class="card-image waves-effect waves-block waves-light">
				  <video style="" class="responsive-video" controls>
						<source src="css/videos/ScreenCaptureProject1.mp4" type="video/mp4">
					</video>
				</div>
				<div class="card-content">
				  <span class="card-title activator grey-text text-darken-4">Candidate X<i class="material-icons right">more_vert</i></span>
				  <p><a href="#">View Candidate Profile</a></p>
				  <div class="tags">
				  <div class="chip">
						LoremIpsum
					</div>
					<div class="chip">
						LoremIpsum1
					</div>
				</div>
				<div class="hide-on-large-only">
				<div class="divider" style="margin:10px;"></div>
					<button  data-position="bottom" data-delay="50" data-tooltip="Remove from list" class="mb tooltipped btn-floating btn-large waves-effect remove waves-purple-100 white">
					<i class="pink-text material-icons ">remove</i>
				</button>
				<button data-position="bottom" data-delay="50" data-tooltip="Add to list list" class="mb tooltipped btn-floating btn-large waves-effect remove waves-purple-100 white">
					<i class="green-text material-icons ">add</i>
				</button>
				<button data-position="bottom" data-delay="50" data-tooltip="Pin" class="mb tooltipped btn-floating btn-large waves-effect remove waves-purple-100 white">
					<i class="orange-text material-icons ">person_pin</i>
				</button>
				</div>
				</div>
				<div class="card-reveal">
				  <span class="card-title grey-text text-darken-4">CandidateX<i class="material-icons right">close</i></span>
				  <p>Info about candidate</p>
				</div>
				
			</div>
		</div>
		</div>